*,
::after,
::before,
::backdrop,
::file-selector-button {
    padding: 0;
    margin: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

img,
video {
    max-width: 100%;
    height: auto;
}

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}

html {
    font-family:
        Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
        source-sans-pro, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}
