---
import Layout from "@layouts/layout.astro";
import { getCollection } from "astro:content";

const post_list = await getCollection("blog");
---

<Layout>
    <div class="home_container">
        <h1>smit mistry_ӧ</h1>
    </div>
</Layout>

<style>
    .home_container {
    }
    h1 {
        font-size: calc(var(--spacing) * 10);
        font-weight: 600;
        letter-spacing: -0.03em;
    }
</style>
