---
import type { CollectionEntry } from "astro:content";
import Layout from "./layout.astro";

import FormattedDate from "@components/formatted-date.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, posted_on } = Astro.props;
---

<Layout>
    <article class="blog-post">
        <div class="blog-post__header">
            <h1 class="blog-post__heading">{title}</h1>
            <span class="blog-post__posted-on"
                >Posted on <FormattedDate date={posted_on} /></span
            >
        </div>
        <div class="blog-post__prose">
            <slot />
        </div>
    </article>
</Layout>

<style>
    .blog-post {
        overflow: hidden;
    }

    .blog-post__header {
        display: grid;
        gap: calc(var(--spacing) * 4);
    }

    .blog-post__heading {
        font-size: 2.35em;
        font-weight: 700;
        letter-spacing: -0.03em;
        text-wrap: pretty;
    }

    .blog-post__posted-on {
        font-size: 1em;
    }
</style>
